# Ignore locally checked out development files
node_modules/
npm-debug.log

# Ignore Cordova generated output files
build/**
platforms/**
plugins/**
resources/signing

# Ignore SASS-generated CSS output files
src/**/*.css

test/test/test.ls
