@import "./components/userViews.scss";
// @import "./components/projectViews.scss";


.heading {
  background-color: #F5F5DC;
  border-radius: 0.5rem;
  margin-right: 12rem;
  margin-left: 12rem;
  height: 16rem;

  .face {
    height: 12rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
    margin-top: 1rem; 
    position: absolute;
  }

  .name {
    margin-left: 15rem;
    h2 {
      font-size: 3rem;
    }
  }
}

.project {
  margin-top: 2rem;
  background-color: #B7E5EC;
  border-radius: 0.5rem;
  margin-right: 15rem;
  margin-left: 15rem;
  height:16rem;

  .p-image {
    position: absolute;
    height: 10rem;
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
  }

  .project-name {
    position: absolute;
    margin-left: 23rem;
    vertical-align: top;
  }
  .project-url {
    position: absolute;
    margin-left: 23rem;
    margin-top: 4rem;
  }
  .description-box {
    width: 25rem;
    margin-left: 23rem;
    position: absolute;
    margin-top: 8rem;
  }
}



