@import "./components/userViews.scss";


.heading {
  background-color: #F5F5DC;
  border-radius: 2rem;
  margin-right: 15rem;
  margin-left: 15rem;
  height: 16rem;

  .face {
    height: 12rem;
    border-radius: 0.4rem;
    margin-left: 2rem;
    margin-top: 1rem; 
    position: absolute;
  }

  .name {
    margin-left: 15rem;
    h2 {
      font-size: 3rem;
    }
  }
}



